In [2]:
import requests
from urllib3.exceptions import ProtocolError
import pprint
import pandas as pd
from pandas.io.json import json_normalize
import json

In [15]:
api_base = "http://www.asterank.com/api/rankings"
api_params = "?sort_by=score&limit=100000"

In [16]:
rsp = requests.get(api_base+api_params)

In [17]:
rsp_json = rsp.json()

In [18]:
df = pd.DataFrame(rsp_json)

In [19]:
df.head()

,A1,A2,A3,BV,G,GM,H,H_sigma,IR,UB,...,sigma_w,spec,spec_B,spec_T,spkid,t_jup,tp,tp_cal,two_body,w
0,NaN,-3.371880e-14,NaN,NaN,NaN,NaN,19.30,NaN,NaN,NaN,...,0.000041,Cg,Cg,NaN,2162173.0,5.308,2.455902e+06,2.011121e+07,NaN,211.425850
1,NaN,6.116535e-14,NaN,NaN,NaN,NaN,19.30,NaN,NaN,NaN,...,0.000066,X,X,NaN,2010302.0,5.066,2.454008e+06,2.006093e+07,NaN,183.242704
2,NaN,NaN,NaN,NaN,NaN,NaN,18.20,NaN,NaN,NaN,...,0.000031,Xe,Xe,NaN,2004660.0,4.493,2.458260e+06,2.018052e+07,NaN,158.016312
3,NaN,-4.614425e-14,NaN,0.64,-0.08,5.200000e-09,20.19,0.06,-0.33,0.16,...,0.000006,B,B,NaN,2101955.0,5.525,2.455439e+06,2.010083e+07,NaN,66.223068
4,NaN,NaN,NaN,NaN,NaN,NaN,18.00,NaN,NaN,NaN,...,0.000026,Xk,Xk,NaN,2065803.0,4.200,2.457563e+06,2.016062e+07,NaN,319.251589

In [22]:
df.to_csv("data/asterank_10000.csv")